html,body{
    height:100%;
    margin:0;
}
body{
    background-color: rgb(235, 226, 213);
    display:flex;
    align-items: center;
    justify-content: center;
}
.main{
    display:flex;
    border-radius: 5px;
    justify-content: center;
    row-gap: none;
    background-color: white;
    width:30vw;
    height:50vh;
    border-radius: 5px;
}
img{
    width:100%;
    height:100%;
    border-radius: 5px 0px 0px 5px;
}
.details{
    display:flex;
    flex-direction: column;
    padding:3px;
    margin:6px 6px;
    width:60%;
}
#head{
    font-size:large;
    font-family:monospace;
    font-weight: lighter;
    color:gray;
    padding:3px;
    margin:0;
}
#title{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding:7px;
    margin:0;
}
#des{
    font-family: 'Montserrat', sans-serif;
    color: gray;
    padding:7px;
    margin:0;
}
.price{
    display:flex;
    padding:7px;
    margin:0;
}
#new{
    font-family:'Times New Roman', Times, serif;
    font-size:xx-large;
    font-weight: bolder;
    color:green;
}
#old{
    margin-left: 10px;
    color:gray;
    padding-top:10px;
    font-size: xx-small;
}
button{
    background-color: green;
    color:white;
    display:flex;
    border-radius: 5px;
    border-color:green;
    width:80%;
    margin-left: 10px;
    justify-content: center;
}
#cart{
    text-align: center;
}
i{
    padding-top:15px;
    padding-right:5px;
}
#add{
    font-family: Arial, Helvetica, sans-serif;
}